@import '../../assets/variables';

.pagination {
    width: 220px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: 0 auto 100px;
    color: $text-gray;
    &__pages-list {
        width: 154px;
        display: flex;
        justify-content: space-between;
    }
    &__pages-item {
        cursor: pointer;
        border-bottom: 4px solid transparent;
    }
    &__arrow {
        cursor: pointer;
        padding-bottom: 4px;
    }
}
