@import '../../assets/variables';

.post-item {
    background-color: $white;
    padding: 20px 30px;
    box-shadow: 2px 3px 43px #566a8a14;
    text-decoration: none;
    &__col-span--2 {
        grid-column: span 2;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        color: $title-black;
        margin-bottom: 20px;
    }
    &__text {
        color: $text-gray;
        margin-bottom: 30px;
    }
    &__link {
        a {
            text-decoration: none;
            color: $title-black;
        }
    }
    &__link-text {
        color: $title-black;
    }
    &__link-arrow {
        margin-left: 6px;
    }
    &__link-body {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $title-black;
    }

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }

    @media screen and (max-width: $laptop) {
        &__col-span--1 {
            grid-column: span 1;
        }
    }
}
