@import '../assets/variables';

.posts {
    &__header {
        background-color: $header-bg;
    }
    &__header-container {
        margin: 0 auto;
        max-width: 1024px;
        padding: 40px 10px;
    }
    &__heading {
        color: $white;
    }
    &__heading--error {
        text-align: center;
    }
    &__content {
        background-color: $background-gray;
        background-color: #fdfdfe;
        max-width: $container-width;
        margin: 50px auto 30px;
    }
    &__search {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        background-color: $light-gray;
        justify-content: center;
    }
    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (min-width: $laptop) {
        &__list {
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
