@import '../assets/variables';

.posts {
    &__header {
        background-color: $header-bg;
    }
    &__header-container {
        margin: 0 auto;
        max-width: 1024px;
        padding: 40px 10px;
    }
    &__heading {
        color: $white;
    }
    &__content {
        background-color: $background-gray;
        background-color: #fdfdfe;
        max-width: $container-width;
        margin: 50px auto 30px;
    }
    &__search {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        background-color: $light-gray;
    }
    &__list {
        // background-color: $background-gray;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        border: 1px solid red;
    }

    @media screen and (min-width: $laptop) {
        &__list {
            display: flex;
            gap: 20px;
            border: 1px solid red;
            padding: 20px;
            padding-right: 0;
            // justify-content: center;
        }
    }
}
