@import '../assets/variables';

.posts {
    &__header {
        background-color: $header-bg;
    }
    &__header-container {
        margin: 0 auto;
        max-width: 1024px;
        padding: 40px 10px;
    }
    &__heading {
        color: $white;
    }
    &__content {
        background-color: $background-gray;
        background-color: #fdfdfe;
        max-width: $container-width;
        margin: 50px auto;
    }
    &__search {
        padding: 20px;
        background-color: $light-gray;
    }
    &__list {
        background-color: $background-gray;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        border: 1px solid red;
        // padding-left: 20px;
        justify-content: center;
    }

    @media screen and (min-width: 1024px) {
    }
}
