/*
    COLORS
*/

$light-gray: #f7f7f8;
$dark-gray: #efeff2;
$posts-bg: #fcfcfe;
$background-gray: #f7f8f9;
$placeholder: #e9eaef;
$article-prev: #fdfdfe;
$white: #ffffff;

$title-black: #2c2c37;
$text-gray: #f0f0f2;

$header-bg: #184979;
$pagination-active: #1298d2;

/*
    SIZES
*/

$container-width: 1024px;
