@import './assets/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul {
    list-style-type: none;
}

p {
    font-size: 14px;
    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }
}
h1 {
    @media screen and (min-width: $laptop) {
        font-size: 70px;
    }
}

h4 {
    font-size: 16px;
    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }
}
